@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Caveat&family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alkatra&family=Caveat&family=Indie+Flower&family=PT+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

body {
  font-family: "Times New Roman";
  background-color: rgb(245, 245, 245);
  
  
}


/*============================navigation================================*/

nav {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  align-items: center;
  background-color: rgb(245, 245, 245);
  font-family: "Poppins", sans-serif;
  z-index: 5;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
}

.logo {
    height: 30px;
    margin: 5px;
    width: 135px;
    padding: 10px 10px;
  }

 
nav ul {
    display: flex;
    list-style: none;
    padding: 0px 0px ;
  }


/*nav ul li {
  display: inline-block;
  margin: 20px 7px;
}*/

nav ul li a {
  color: #308184;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
}

nav a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #308184;
}




nav li {
  margin: 0 10px;
}

/*-----------nav humgurger---------*/
#hamburger-nav {
    display: none;
  }
  
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
  
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links li {
    list-style: none;
  }
  
  .menu-links.open {
    max-height: 350px;
  }
  
  
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  
/*----------------main-----------------------*/  


.fas {
  display: none;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 245, 245);
  padding-top: 80px;

}

.maininfo {
  width: 100%;
  height: 90vh;
  font-family: "Chivo Mono", monospace;
}

.images {
  width: 45%;
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 100px;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  transition: bottom 1s, left 1s;
}

.images:hover .shape {
  bottom: 40px;
}

.images:hover .boy {
  left: 45%;
}

.infocontainer {
  padding-top: 100px;
  margin-left: 50px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hello {
  font-family: "Caveat", cursive;
  font-size: 85px;
}

.name {
  font-size: 70px;
  font-weight: bold;
  font-family: "Alkatra", cursive;
  color: #308184;
  stroke: #333;
}

/*typing animation*/
.infocontainer .about {
  width: 20%;
  line-height: 90px;
  height: 90px;

  overflow: hidden;
}



.about li {
  list-style: none;
  font-size: 35px;
  font-family: "Caveat", cursive;
  position: relative;
  animation: slide 12s steps(1) infinite;
}

@keyframes slide {
  25% {
    top: -90px;
  }

  50% {
    top: -180px;
  }

  75% {
    top: -270px;
  }

  100% {
    top: -360px;
  }
}

.about li::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-left: 4px solid #308184;
  animation: typing 3s steps(16) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}



.buttons {
  margin-top: 34px;
}

.btn {
  padding: 9px 14px;
  border-radius: 30px;
  border-color: rgb(74 172 224);
  color: white;
  background-color: rgb(81, 138, 139);
  font-size: large;
  font-weight: bold;
  margin: 0 8px;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(56, 51, 51, 0.637);
}

.btn:hover {
  background-color: white;
  color: rgb(81, 138, 139);
}

.btn-sm {
  font-size: 20px;
  padding: 10px 19px;
  margin: 12px 0;
}

/*------------------------------------- Education page-----------------------------------0 */

.edu-main{
  width: 100%;
  background-color: rgb(245, 245, 245);
  font-family: "Poppins" , sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.grid{
  display: grid;
  width: 81%;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: start;
}

.grid-item{
  background-color: white;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgb(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover{
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img{
  display: block;
  width: 90%;
  height: 8rem;
  object-fit:contain;
  padding: 2px;
}

.card-content{
  padding: 1rem;
}

.card-header{
  font-size: 1.5rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;

}

.card-text{
  font-size: 1rem;
  letter-spacing: 0.1rem;
  
  color: #3d3d3d;
  margin-bottom: 1rem;
}

.card-btn{
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  color: #3363ff;
  background-color: #d8e0fd;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.card-btn:hover,
.card-btn:active{
  background-color: #c2cffc;
}

@media only screen and (max-width: 1000px) {
  .edu-main{
    padding: 3rem
  }
  .grid{
    grid-gap: 3rem;
  }
  
}

/*===============================about section==========================*/


.main h3 {
  text-align: center;
  color: green;
  font-size: 30px;
}

.textabout {
  display: flex;
  justify-content: space-around;
  margin: 5px;
 
}

.profile_pic{
  width: 25%;

}
.summary {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.summary button{
  
    padding: 9px 14px;
    border-radius: 10px;
    width: 13%;
    color: white;
    background-color: rgb(81, 138, 139);
    font-size: large;
    font-weight: bold;
    margin: 0 8px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(56, 51, 51, 0.637);
   
}
.summary button:hover {
  background-color: white;
  color: rgb(81, 138, 139);
}




.textabout .summary p {
  display: block;
  font-size: 20px;
  justify-content: center;
  padding: 10px;
}



.textabout div img {
  width: 20vw;
  position: relative;
}


/*===========================skills css=============================*/

.sectiontitle{
  text-align: center;

}



.skills-container{

  display: flex;
  justify-content: space-around;
  align-items: center;

}

.skills-title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
 
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.skills-info,
.skills-data,
.skills-blob{
  display: grid;

}

.skills-info{
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;

}

.skills-data{
  justify-content: center;
  text-align: center;
}

.skills-blob{
  width: 80px;
  height: 100px;
  background-color: rgb(255, 255, 255);  
  border-radius: 3rem;
  box-shadow: 0rem 0rem 3rem rgb(5 143 71 / 66%);
  place-items: center;
  margin-bottom: 1rem;
}

.skills-blob img{
  width: 60px;

}

.skills-name{
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;

}

.skills-subtitle{
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
}


/*----aniamtimn for  skilldd---------*/
.skills-blob:hover img {
  animation: bounce-skills 1s;
}

@keyframes bounce-skills{
  0%{
    transform: translate(0); 
  }
  20%{
    transform: translateY(-6px);  
  }
  40%{
    transform: translate(0);  
  }
  60%{
    transform: translateY(-3px);   
  }
  80%{
    transform: translate(0);   
  }
 
}@media only screen and (max-width: 1000px) {
  * {
    box-sizing: border-box;
  }

  .skills-container{

    flex-direction: column;
  }

}

/*---------------------------------------projects---section-----------------------------*/


header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.project-grid {
  width: 100%;
  margin: 35px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
}

.project-item {
  height: 20%;
  background-image: url(DSC.JPG);

  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(249 27 27 / 63%);
}

.project-item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/*------------------------contact--section-------------------------------*/

.contactmain {
  width: 100%;
  height: 90vh;
  display: flex;
  
  align-items: center;
  justify-content: center;
  background: rgb(245,245, 245);
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #fff;
  margin: 20px;
  text-align: center;
  font-size: 50px;
  line-height: 100px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.3);
  transition: all 0.3s ease-out;
}

.icon:hover {
  width: 400px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
}

.icon:hover i {
  color: #fff;
}

.icon .fa-facebook-f {
  color: #1a6ed8;
}

.fb:hover {
  background: #1a6ed8;
}

.icon .fa-twitter {
  color: #1da1f2;
}

.twt:hover {
  background: #1da1f2;
}

.icon .fa-linkedin-in {
  text-decoration: none;
  color: #0077b5;
}

.lnk:hover {
  background: #0077b5;
}

.icon .fa-github {
  color: #000;
}

.git:hover {
  background: #000;
}

.icon .fa-instagram {
  color: #ee2679;
}

.in:hover {
  background: #e26798;
}

.icon .fa-whatsapp {
  color: #12c72b;
}

.wa:hover {
  background: #12c72b;
}

.icon .fa-google {
  color: #e22121;
}

.gmail:hover {
  background: #e22121;
}

.txt1 {
  font-size: 30px;
  color: white;
}

.txt2 {
  font-size: 18px;
  color: white;
  text-align: right;
}

.txt {
  text-decoration: none;
  color: white;
}

.icon a {
  text-decoration: none;
}



